.main__btn {
  color: #cad1e9;
  border: 2px solid transparent;
  background: linear-gradient(#222222, #131313) padding-box,
    linear-gradient(45deg, rgba(9, 14, 219, 1), rgba(141, 30, 162, 1))
      border-box;
  background-color: #090edb;
  border-radius: 12px;
  padding: 0.8em;
  box-shadow: inset -1px -1px 10px rgba(195, 195, 195, 0.182);
  transition: all 0.3s ease;
}

.main__btn::before {
  content: '';
  box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 1);
}

.main__btn:hover {
  background: linear-gradient(#222222, #131313) padding-box,
    linear-gradient(29deg, $color-hover, #090edb) border-box;
  color: #8688f2;
}

.join-btn__mobile {
  display: none;
}

.burger-btn {
  display: block;
  width: 100%;
  padding: 12px 0;
  background: linear-gradient(135deg, #6c01b4, #48069e);
  box-shadow: 0 6px 10px rgba(133, 3, 208, 0.281);
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  transition: all 0.3s ease;
  margin: 0 0 60px 0;
}

.button-quote {
  background: rgba(0, 0, 0, 0.8);
  color: #0ff;
  padding: 14px 28px;
  font-size: 16px;
  font-family: 'Fira Code', monospace;
  text-transform: uppercase;
  border: 2px solid rgba(0, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.2);
  transition: all 0.3s ease-in-out;

  &:hover {
    background: rgba(0, 255, 255, 0.1);
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.5);
  }
}

.btn-like {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 0, 0, 0.1);
  border-radius: 10px;
  border: 2px solid rgba(255, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  font-size: 22px;

  svg {
    fill: rgba(255, 0, 0, 0.8);
    transition: all 0.2s ease;
  }

  &:hover {
    background: rgba(255, 0, 0, 0.2);
    box-shadow: 0 0 8px rgba(255, 0, 0, 0.8);
  }
	
}

.btn-copy {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid #4caf50; // Зеленый контур
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 22px;
  color: #4caf50; // Цвет иконки

  &:hover {
    background: #4caf50;
    color: #000;
  }
}

@include mediaBigMobile {
  .header-join {
    display: none;
  }
  .join-btn__mobile {
    display: flex;
    justify-content: center;
  }
  .join__btn {
    display: none;
  }
}
