.main__btn {
  color: #cad1e9;
  border: 2px solid transparent;
  background: linear-gradient(#222222, #131313) padding-box,
    linear-gradient(45deg, rgba(9, 14, 219, 1), rgba(141, 30, 162, 1))
      border-box;
  background-color: #090edb;
  border-radius: 12px;
  padding: 0.8em;
  box-shadow: inset -1px -1px 10px rgba(195, 195, 195, 0.182);
  transition: all 0.3s ease;
}

.main__btn::before {
  content: '';
  box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 1);
}

.main__btn:hover {
  background: linear-gradient(#222222, #131313) padding-box,
    linear-gradient(29deg, $color-hover, #090edb) border-box;
  color: #8688f2;
}

.join-btn__mobile {
  display: none;
}

.burger-btn {
  display: block;
  width: 100%;
  padding: 12px 0;
  background: linear-gradient(135deg, #6c01b4, #48069e);
  box-shadow: 0 6px 10px rgba(133, 3, 208, 0.281);
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  transition: all 0.3s ease;
  margin: 0 0 60px 0;
}

.btn-like {
  background-color: transparent;
  font-size: 35px;
}

@include mediaBigMobile {
  .header-join {
    display: none;
  }
  .join-btn__mobile {
    display: flex;
    justify-content: center;
  }
  .join__btn {
    display: none;
  }
}
