.person-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 30px 0;
  font-size: 14px;
  gap: 15px;
}

.person-block__right {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 25px;
}
.person-block__notifications {
  transition: all 0.1s ease-in;
}
.person-block__notifications:hover {
  color: $color-hover;
}
.person-block__logo {
  height: 40px;
}

.person-block__logo img {
  height: 100%;
}
