.profile {
  margin: 0 15px;
  position: relative;
}

.profile-container {
  display: grid;
  margin: 0 auto;
  grid-template-rows: auto 1fr;
  max-width: 1200px;
  background-color: #262525;
  padding: 20px;
  border-radius: 24px;
  font-size: 16px;
  color: #fff;
  gap: 20px;
}

.profile-wrapper {
  display: grid;
  grid-template-areas: 'sidebar content right';
  grid-template-columns: 5% 70% auto;
  gap: 20px;
}

.profile-content {
  display: grid;
  gap: 20px;
  grid-area: content;
}
.profile-content__main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.profile-content__bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.profile-card {
  background-color: rgba(29, 28, 32, 70%);
  padding: 10px;
  border-radius: 20px;
  margin: 110px 0 0 0;
}

.content-main__card_big {
  grid-column: span 2;
  overflow-x: auto;
}
.profile-rigth {
  display: grid;
  align-self: start;
  gap: 20px;
  grid-area: right;
}

// в разработке
.dev-yet {
  text-align: center;
  font-size: 56px;
}
@include mediaFirstBrakePoint {
  .profile-container {
    border-radius: 0;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
  }
  .profile-wrapper {
    grid-template-areas:
      'right'
      'content';
    grid-template-columns: 100%;
  }
  .profile-sidebar {
    display: none;
  }
  .profile-rigth {
    grid-template-columns: 350px minmax(250px, 1fr);
    grid-template-rows: 200px;
  }
  .content-right__card {
    max-width: 100%;
  }
  .profile-card {
    margin: 0;
  }
}

@include mediaBigMobile {
  .profile-wrapper {
    grid-template-areas: 'content';
    grid-template-columns: 100%;
  }
  .profile-content__main,
  .profile-content__bottom {
    grid-template-columns: minmax(250px, 1fr);
  }
  .content-main__card_big {
    grid-column: span 1;
  }

  .profile-rigth {
    grid-template-columns: minmax(250px, 1fr);
    grid-template-rows: 350px;
    position: absolute;
    top: 0;
    right: 0;
    width: 310px;
    height: 100vh;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateX(100%); // Скрываем справа
    opacity: 0;
    visibility: hidden;
    justify-items: center;
  }

  .stats-active {
    transform: translateX(0); // Показываем
    opacity: 1;
    visibility: visible;
    height: 100%;
    background-color: rgba(27, 27, 27, 0.9333333333);
    position: fixed;
    padding: 0 30px 80px 20px;
    max-width: 100%;
    overflow-y: auto;
    white-space: nowrap;
    scrollbar-width: none;
  }

  .content-right__card {
    background-color: transparent;
    padding: 0px;
  }

  .profile-rigth:not(.stats-active) {
    opacity: 0;
    transform: translateY(200px);
    visibility: hidden;
  }
  .profile-rigth:not(.stats-active) .profile-card {
    background-color: rgba(29, 28, 32, 70%);
    padding: 10px;
    border-radius: 20px;
  }
  .profile-content__secondary {
    grid-template-columns: 1fr;
  }
  .profile-secondary-card {
    display: grid;
    grid-column: span 1;
  }
}
@include mediaMediumMobile {
}
@include mediaSmallMobile {
  .profile-container {
    padding: 15px;
  }
}
