.quotes-block__card_person {
  display: flex;
  align-items: center;
}
.quotes-block__card_logo img {
  max-height: 52px;
}

.quotes-block__card_rang {
  margin: 0 0 0 10px;
  font-size: 12px;
  color: #fff;
  padding: 10px 15px;
  background-color: #ff6161;
  border-radius: 24px;
}
.quotes-block__card_content {
  margin: 15px 0 0;
}
.quotes-block__card_name {
  color: $white;
}
.quotes-block__card_text {
  color: $color-main;
  margin: 15px 0 20px 0;
}
.quotes-block__card_handler {
  display: flex;
  gap: 20px;
  align-items: center;
}
.card-handler {
  display: flex;
  gap: 5px;
  font-size: 14px;
  align-items: flex-end;
  color: $color-main;
}
.handler-icon {
  font-size: 20px;
}
.handler-icon:hover {
  color: $color-hover;
}
.popup-content {
  max-width: 500px;
}

.quotes-block__column {
  display: flex;
  min-width: 390px;
  height: 100%;
}
.quotes-block__card {
  background-image: url('/src/img/bg-cards-popular.png');
  background-position: right bottom;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

@include mediaBigMobile {
  .quotes-block__card {
    max-height: 350px;
  }
}

@include mediaSmallMobile {
  .quotes-block__column {
    min-width: 250px;
  }
}
